.header_container {
    height: 100vh;
    position: relative;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(35%);
    }
}

.detail {
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    row-gap: 1.5rem;
  
    .title {
      font-size: 60px;
      text-align: left;
      font-weight: 600;
    }
  
    .desc {
      text-align: left;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.8;
    }
}

.button_watch_trailer {
  margin-left: -3rem;
}

button {
    border-radius: 1rem;
    padding-left: 0.7rem;
    padding-right: 1rem;
    color: white;
}

#play_icon {
    padding-right: 0.5rem;
}

.play_watch_trailer {
    display: flex;
    align-items: center;
    background-color: red;
}