.swiper {
    width: 100%;
    height: 100%;
}

.popular {
    margin-top: 3rem;
}

.popular_container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
}

.popular_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.popular_info h4 {
    color: red;
    padding-right: 1rem;
}

#arrow_icon {
    color: red;
}

.popular_info {
    display: flex;
    align-items: center;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}