// Ini NAVBAR
* {
    margin: 0;
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    // position: fixed;
}

#judul_web {
    color: red;
    padding: 1rem 1.5rem;
}

// .search {
//     padding-left: 16rem;
// }

// form {
//     background-color: transparent;
//     border-radius: 1rem;
//     position: relative;
// }

// input {
//     height: 100%;
//     display: block;
//     border-radius: 1rem;
// }

// .search input[type=text] {
//     padding: 0.7rem;
//     border-radius: 1rem;
//     padding-right: 14rem;
//     border-color: red;
//     background-color: transparent //untuk mengubah warna button si placeholder
// }

// //untuk mengganti warna pada placeholder "What do you want to watch?"
// .search input::placeholder {
//     color: white;
// }

// //untuk mengganti warna text pada saat typing di placeholder
// .search input {
//     color: white;
// }

// #Search_Icon {
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: 25px;
//     height: 100%;
//     padding-right: 0.8rem;
//     color: white;
// }

.button_navbar_all {
    padding-right: 2rem;
}

#button_login {
    margin-right: 1rem;
    border-radius: 1rem;
    // pakai "!important" biar button dr MUI mau berubah warna
    color: red !important;
    border-color: red !important;
}

#button_register {
    border-radius: 1rem;
    background-color: red;
}
// Ini Akhir NAVBAR